.hero {
    &__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 80px;
        line-height: 95px;
        letter-spacing: -0.02em;
    }

    &__text {

    }

    &__btn {

    }
}